.Rproj.user
*.txt
*.nb.html
\.Rhistory
\.RData
/.history/
/out/
/.idea/
/data/ftse100/comb_reg_all/
"data/results/[info_comb] grid_lasso_ridge_enet.csv"
"data/results/[info_comb] grid_lasso_ridge_enet.csv"
*.html linguist-detectable=false

